<%- include('partials/logged-in') -%>

<div class="container card-container" id="editor-container">
  <div class="row justify-content-center">
      <div class="col-6">
          <div class="mt-5">
            <h2>Add a store</h2>
            <form action="/post/createPost" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                  <label for="title" class="form-label">Store Name</label>
                  <input type="text" class="form-control" id="title" name="title">
              </div>
              <div class="mb-3">
              <label for="industry" class="form-label">What type of store?</label>
              <select class="form-select" aria-label="Default select example" id="industry" name="industry">
                <option selected>Select Type</option>
                <option value="Beauty">Beauty</option>
                <option value="Clothing">Clothing</option>
                <option value="Accessories">Accessories</option>
                <option value="Food & Snacks">Food & Snacks</option>
                <option value="Mental Health">Mental Health</option>
                <option value="Content Creation">Content Creation</option>
                <option value="Art">Art</option>
              </select>
              </div>
              <div class="mb-3">
                <label for="post.caption" class="form-label">Description</label>
                <textarea class="form-control" id="post.caption" name="caption"></textarea>
    
              </div>
                <label for="imgUpload" class="form-label">Image</label>
                <input type="file" class="form-control" id="imageUpload" name="file">
              </div>
              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </form>
          </div>
      </div>
    </div>
  </div>
