<%- include('partials/logged-in') -%>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.14.1/ckeditor.js" integrity="sha256-bEIQpI72w9NJuIVhTLFUF2/8uxl0u5800r8ddViuv+o=" crossorigin="anonymous"></script>
<div class="container card-container">
  <div class="row justify-content-center">
      <div class="col-6">
          <div class="mt-5">
            <h2>Add a store</h2>
            <form action="/post/createPost" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                  <label for="title" class="form-label">Store Name</label>
                  <input type="text" class="form-control" id="title" name="title">
              </div>
              <div class="mb-3">
              <label for="industry" class="form-label">What type of store?</label>
              <select class="form-select" aria-label="Default select example" id="industry" name="industry">
                <option selected>Select Type</option>
                <option value="Beauty">Beauty</option>
                <option value="Clothing">Clothing</option>
                <option value="Accessories">Accessories</option>
                <option value="Food & Snacks">Food & Snacks</option>
                <option value="Mental Health">Mental Health</option>
                <option value="Content Creation">Content Creation</option>
                <option value="Art">Art</option>
              </select>
              </div>
              <!-- <div class="mb-3">
                <label for="basic-url" class="form-label">Dish Type</label>
                <select class="form-select" aria-label="Default select example" id="dish" name="dish">
                  <option selected>Please Select</option>
                  <option value="Main Dish">Main Dish</option>
                  <option value="Side Dish">Side Dish</option>
                  <option value="Salsa">Salsa</option>
                  <option value="Appetizer">Appetizer</option>
                  <option value="Snack">Snack</option>
                  <option value="Dessert">Dessert</option>
                  <option value="Drink">Drink</option>
                </select>
                </div> -->
              <div class="mb-3">
                <label for="post.caption" class="form-label">Description</label>
                <textarea class="form-control" id="post.caption" name="caption"></textarea>
                
      <script>
                CKEDITOR.replace('caption', {
                    plugins: 'wysiwygarea, toolbar, basicstyles, link'
                })
            </script>
              </div>
              <!-- <div class="mb-3">
                <label for="ingredients" class="form-label">Ingredients</label>
                <textarea class="form-control" id="ingredients" name="ingredients" placeholder="Put each ingredient on its own line." rows="5"></textarea>
              </div>
              <div class="mb-3">
                <label for="directions" class="form-label">Directions</label>
                <textarea class="form-control" id="directions" name="directions" placeholder="Put each step on its own line." rows="5"></textarea>
              </div>
              <div class="mb-3"> -->
                <label for="imgUpload" class="form-label">Image</label>
                <input type="file" class="form-control" id="imageUpload" name="file">
              </div>
              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </form>
          </div>
      </div>
    </div>
  </div>
<%- include('partials/footer') -%>