<%- include('partials/header') -%>
  <div class="container">
    <div class="mt-5">
      <ul class="list-unstyled">
        <% {%>
          
          <li class="col-6 mt-5"><a href="https://www.irs.gov/businesses/small-businesses-self-employed/starting-a-business" target="_blank" rel="noopener noreferrer"> IRS information to start a business</a>
          </li>
          <p>In this link you can find all the information you need to form your business and any tax application you might need.</p>
          <li class="col-6 mt-5"><a href="https://nmsdc.org/mbe-certification/" target="_blank" rel="noopener noreferrer"> Get your business MBE certification</a>
          </li>
          <li class="col-6 mt-5"><a href="https://www.sba.gov/business-guide" target="_blank" rel="noopener noreferrer">Register Your Business and apply for grants in the U.S Small Business Administration. </a>
          </li>
          <p>Getting MBE certified and Registering your business can open doors to infinity of opportunities and grow your business. The Pricing will depend of your state and the type of business formation.</p>
          <li class="col-6 mt-5"><a href="https://www.usps.com/manage/po-boxes.htm" target="_blank" rel="noopener noreferrer">USPS PO Boxes</a>
          </li>
          <li class="col-6 mt-5"><a href="https://www.fedex.com/en-us/small-business.html" target="_blank" rel="noopener noreferrer">Fedex Small Business Center</a>
          </li>
          <li class="col-6 mt-5"><a href="https://www.theupsstore.com/mailboxes/business-mailboxes" target="_blank" rel="noopener noreferrer">UPS Business Mailbox</a>
          </li>
          <p>Here you can choose which mail services if best for your business.</p>
          <li class="col-6 mt-5"><a href="https://www.shipstation.com/" target="_blank" rel="noopener noreferrer">ShipStation</a>
          </li>
          <p>ShipStation is a great platform to print labels and you can link any mailing services their plan starts at $9.99 and you can link your own site. Here is <a href="https://www.shipstation.com/partners/" target="_blank" rel="noopener noreferrer">link</a> of what sites are supported. </p>

        <% } %>
        </ul>
    </div>
  </div>  
<%- include('partials/footer') -%>