<%- include('partials/header') -%>
  <div class="container resources">
    <div class="mt-5">
      <p>Starting a business can be hard and I have collected the top resources to start your business. I included links for the 
        IRS information where you can find all the information you need to form your business and any tax application you might need based on your state.</p> 
        <p> MBE certified and Registering your business can open doors to infinity of opportunities and grow your business. The Pricing will depend of your state and the type of business formation.</p>
        <p>I prove the top mailing services where you can choose which mail services if best for your business.</p>
        <p>ShipStation is a great platform to print labels and you can link any mailing services their plan starts at $9.99 and you can link your own website. <button class="btn"><a href="https://www.shipstation.com/partners/" class="nav-link" target="_blank" rel="noopener noreferrer">Websites</a></button> supported by shipstation. 
      </p>
      <ul class="list-unstyled row-cols-1">
        <% {%>
          
          <li class="col-6 mt-5"><button class="small btn"><a href="https://www.irs.gov/businesses/small-businesses-self-employed/starting-a-business" class="nav-link" target="_blank" rel="noopener noreferrer">Start A Business</a></button>
          </li>
          
          <li class="col-6 mt-5"><button class="btn"><a href="https://nmsdc.org/mbe-certification/" class="nav-link target="_blank" rel="noopener noreferrer"> MBE certification</a></button>
          </li>
          <li class="col-6 mt-5"><button class="btn"><a href="https://www.sba.gov/business-guide" class="nav-link target="_blank" rel="noopener noreferrer">Register Your Business</a></button>
          </li>
          
          <li class="col-6 mt-5"><button class="btn"><a href="https://www.usps.com/manage/po-boxes.htm" class="nav-link target="_blank" rel="noopener noreferrer">USPS PO Boxes</a></button>
          </li>
          <li class="col-6 mt-5"><button class="btn"><a href="https://www.fedex.com/en-us/small-business.html" class="nav-link target="_blank" rel="noopener noreferrer">Fedex Small Business Center</a></button>
          </li>
          <li class="col-6 mt-5"><button class="btn"><a href="https://www.theupsstore.com/mailboxes/business-mailboxes" class="nav-link target="_blank" rel="noopener noreferrer">UPS Business Mailbox</a></button>
          </li>
        
          <li class="col-6 mt-5"><button class="btn"><a href="https://www.shipstation.com/" class="nav-link target="_blank" rel="noopener noreferrer">ShipStation</a></button>
          </li>
          

        <% } %>
        </ul>
    </div>
    <!-- <div class="content">
      <p>Starting a business can be hard and I have collected the top resources to start your business
        IRS information where you can find all the information you need to form your business and any tax application you might need based on your state. Getting MBE certified and Registering your business can open doors to infinity of opportunities and grow your business. The Pricing will depend of your state and the type of business formation.Here you can choose which mail services if best for your business.<p>ShipStation is a great platform to print labels and you can link any mailing services their plan starts at $9.99 and you can link your own site.  <a href="https://www.shipstation.com/partners/" target="_blank" rel="noopener noreferrer">link</a> of what sites are supported. 
      </p>
    </div> -->
  </div>  
<%- include('partials/footer') -%>